<!DOCTYPE html>
<html lang="en">
<head>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
</head>
<body>
<div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">One day, {{name.0}} decided to {{verb.0}} in the backyard. 
            The sun was {{adjective.0}}, and {{pronoun.0}} noticed a {{noun.0}} moving near the fence. 
            Suddenly, a {{adjective.1}} bird swooped down and {{verb.1}} over the flowers. 
            "{{name.1}}, you should {{verb.4}}!" said {{pronoun.1}}, pointing at the {{noun.1}}.
            Excited, {{name.2}} {{verb.2}} toward the tree and found a {{adjective.2}} treasure hidden inside.
            "{{name.3}}, this is {{adjective.3}}!" {{pronoun.2}} exclaimed. Together, they {{verb.3}} and celebrated with the {{noun.2}} they had found.</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
    </div>
</div>
</body>
</html>