    {% extends 'hobbie/navbar.html' %}
        {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Challenge 4</title>
</head>
<body>
{% block content %}
<h1>{{ cardSelected.name }}</h1>
<div class="row">

    <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
           <img class="card-img-top" src="{{ cardSelected.image.url }}" alt="{{ cardSelected.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ cardSelected.name}}</h5>
                <p class="card-body">{{ cardSelected.description}}</p>
                <button onclick="history.back()"class="btn btn-primary">Go Back</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}
</body>
</html>