    {% extends 'hobbie/navbar.html' %}
        {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Challenge 4</title>
</head>
<body>
{% block content %}
<h1>My Hobbies</h1>
<div class="row">
    {% for hobbie in hobbies %}
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
           <img class="card-img-top" src="{{ hobbie.image.url }}" alt="{{ hobbie.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ hobbie.name}}</h5>
                <a href="#" class="btn btn-primary">Learn more</a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}
</body>
</html>